@model FarmaPlus.Models.tblZivotinja

@{
    ViewBag.Title = "Edit";
}

<h2>Uređivanje</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Životinja</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ZivotinjaID)
    @Html.HiddenFor(model => model.PosjednikID)
    @Html.HiddenFor(model => model.VrstaZivotinjeID)
    @Html.HiddenFor(model => model.GovedoID)
    @Html.HiddenFor(model => model.Aktivna)
    @Html.HiddenFor(model => model.tblGovedo.Aktivno)

    <div class="form-group">
        @Html.LabelFor(model => model.OznakaUsneMarkice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OznakaUsneMarkice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OznakaUsneMarkice, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tblGovedo.Ime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tblGovedo.Ime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tblGovedo.Ime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tblGovedo.DatumRodenja, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tblGovedo.DatumRodenja, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tblGovedo.DatumRodenja, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tblGovedo.Spol, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.tblGovedo.Spol, (SelectList)(ViewBag.Spolovi).Items, "--Izaberite spol--" , new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tblGovedo.Spol, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tblGovedo.MajkaKodDrzave, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tblGovedo.MajkaKodDrzave, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tblGovedo.MajkaKodDrzave, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tblGovedo.MajkaZivotniBroj, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tblGovedo.MajkaZivotniBroj, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tblGovedo.MajkaZivotniBroj, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tblGovedo.MajkaIme, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tblGovedo.MajkaIme, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tblGovedo.MajkaIme, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tblGovedo.OtacKodDrzave, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tblGovedo.OtacKodDrzave, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tblGovedo.OtacKodDrzave, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tblGovedo.OtacHbBroj, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tblGovedo.OtacHbBroj, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tblGovedo.OtacHbBroj, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tblGovedo.OtacIme, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tblGovedo.OtacIme, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tblGovedo.OtacIme, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tblGovedo.DatumUpisaURegistar, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tblGovedo.DatumUpisaURegistar, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tblGovedo.DatumUpisaURegistar, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tblGovedo.Napomena, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tblGovedo.Napomena, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tblGovedo.Napomena, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Registar2", new { @class = "btn btn-danger"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
